
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Área do Administrador</h2>

<!-- áreas criadas em MVC são utilizadas para trabalhar independentemente do projeto principal
    Ex: se um projeto principal chamado "Vendedor" possui Controladores, Models, etc... a área criada do projeto principal
    chamada "Cliente", também possuirá de forma distinta os Controladores, Models, etc. -->